:local(.not-found)
  display inline-block
  margin 68px 0 0 0
  font-family 'Love Ya Like A Sister', Arial, 'sans-serif'
  font-size 180px
  color #9eb92e
  text-align center
  text-shadow 5px 5px 10px rgba(0,0,0,.5)

:local(.not-found__uri)
  display inline-block
  margin-top 40px
  font-family 'Love Ya Like A Sister', Arial, 'sans-serif'
  font-size 32px
  text-align center
